<p id="notice"><%= notice %></p>

<h1>Spreadsheets Equipments</h1>

<table>
  <thead>
    <tr>
      <th>Spreadsheet</th>
      <th>Pump</th>
      <th>Jack</th>
      <th>Start</th>
      <th>End</th>
      <th>Elongations number</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @spreadsheets_equipments.each do |spreadsheets_equipment| %>
      <tr>
        <td><%= spreadsheets_equipment.spreadsheet_id %></td>
        <td><%= spreadsheets_equipment.pump_id %></td>
        <td><%= spreadsheets_equipment.jack_id %></td>
        <td><%= spreadsheets_equipment.start %></td>
        <td><%= spreadsheets_equipment.end %></td>
        <td><%= spreadsheets_equipment.elongations_number %></td>
        <td><%= link_to 'Show', spreadsheets_equipment %></td>
        <td><%= link_to 'Edit', edit_spreadsheets_equipment_path(spreadsheets_equipment) %></td>
        <td><%= link_to 'Destroy', spreadsheets_equipment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Spreadsheets Equipment', new_spreadsheets_equipment_path %>
