<div class="content-heading">
   <div>Dashboard
      <small data-localize="dashboard.WELCOME"></small>
   </div>
   <!-- START Language list-->
   <div class="ml-auto">
      <div class="btn-group">
         <button class="btn btn-secondary dropdown-toggle dropdown-toggle-nocaret" type="button" data-toggle="dropdown">English</button>
         <div class="dropdown-menu dropdown-menu-right-forced animated fadeInUpShort" role="menu"><a class="dropdown-item" href="#" data-set-lang="en">English</a><a class="dropdown-item" href="#" data-set-lang="es">Spanish</a><a class="dropdown-item" href="#" data-set-lang="pt">Português</a>
         </div>
      </div>
   </div>
   <!-- END Language list-->
</div>

<div class="row">
   <!-- START dashboard main content-->
   <!-- START Multiple List group-->
<div class="col-lg-12">
<% @constructions.each do |c| %>
   <div class="list-group mb-3">
      <a class="list-group-item" href="#">
         <table class="wd-wide">
            <tbody>
               <tr>
                  <td class="wd-xs">
                     <div class="px-2">
                        <img class="img-fluid rounded thumb64" src="<%= c.image.attached? ? image_tag(c.image) : image_path('angle/dummy.png') %>" />
                     </div>
                  </td>
                  <td>
                     <div class="px-2">
                        <h4 class="mb-2"><%= c.name %></h4>
                        <small class="text-muted">Vestibulum ante ipsum primis in faucibus orci</small>
                     </div>
                  </td>
                  <td class="wd-sm d-none d-lg-table-cell">
                     <div class="px-2">
                        <p class="m-0">Last change</p>
                        <small class="text-muted"><%= time_ago_in_words(c.updated_at) %></small>
                     </div>
                  </td>
                  <td class="wd-xs d-none d-lg-table-cell">
                     <div class="px-2">
                        <p class="m-0 text-muted">
                           <em class="icon-layers mr-2 fa-lg"></em><%= c.spreadsheets.count %></p>
                     </div>
                  </td>
                  <td class="wd-xs d-none d-lg-table-cell">
                     <div class="px-2">
                        <p class="m-0 text-muted">
                           <em class="icon-doc mr-2 fa-lg"></em><%= c.cables.count %></p>
                     </div>
                  </td>
                  <td class="wd-sm">
                     <div class="px-2">
                        <p class="m-0 text-muted">
                           <em class="icon-list mr-2 fa-lg"></em><%=  %></p>
                     </div>
                  </td>

                  <td class="wd-sm">
                     <div class="px-2">
                        <p class="m-0 text-muted">
                           <em class="icon-list mr-2 fa-lg"></em><%= c.cables.count %></p>
                     </div>
                  </td>
               </tr>
            </tbody>
         </table>
      </a>
   </div>
<% end %>
<!-- END Multiple List group-->
   <!-- END dashboard sidebar-->
</div>

</div>