<p id="notice"><%= notice %></p>

<p>
  <strong>Phones type:</strong>
  <%= @phone.phones_type_id %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @phone.phone %>
</p>

<%= link_to 'Edit', edit_phone_path(@phone) %> |
<%= link_to 'Back', phones_path %>
