<p id="notice"><%= notice %></p>

<h1>Positions Cables</h1>

<table class="table table-striped table-bordered table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @positions_cables.each do |positions_cable| %>
      <tr>
        <td><%= positions_cable.name %></td>
        <td><%= link_to 'Show', positions_cable %></td>
        <td><%= link_to 'Edit', edit_positions_cable_path(positions_cable) %></td>
        <td><%= link_to 'Destroy', positions_cable, method: :delete, data: { confirm: 'Are you sure?' }, class:"mb-1 btn btn-danger" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Positions Cable', new_positions_cable_path %>
