<p id="notice"><%= notice %></p>

<h1>Elongations</h1>

<%= link_to 'New Elongation', new_elongation_path, class: "btn mr-1 mb-1 btn-inverse" %>

<table class="table table-striped table-bordered table-hover">
  <thead>
    <tr>
      <th>Cable</th>
      <th>Elongation</th>
      <th>Status</th>
      <th>Deviation</th>
      <th>Elongation meter</th>
      <th>Cables reviews</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @elongations.each do |elongation| %>
      <tr>
        <td><%= elongation.cable_id %></td>
        <td><%= elongation.elongation %></td>
        <td><%= elongation.status %></td>
        <td><%= elongation.deviation %></td>
        <td><%= elongation.elongation_meter %></td>
        <td><%= elongation.cables_reviews_type.name %></td>
        <td><%= link_to 'Show', elongation, class:"mb-1 btn btn-primary" %></td>
        <td><%= link_to 'Edit', edit_elongation_path(elongation), class:"mb-1 btn btn-purple" %></td>
        <td><%= button_to elongation_path(elongation), method: :delete, onClick: 'return confirm("Are you sure?");', remote: true, class: "btn btn-danger" do %>Delete<% end %></td>        
      </tr>
    <% end %>
  </tbody>
</table>

<br>
